body {
  background: #24353f;
  font-family: "Titillium Web";

}
.system .container .form-data {
  box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
  width: 65%;
}
.system .container .form-data h1 {
  color: #17a2b8;
  margin-bottom: 30px;
}

.system .container .form-data input {
  background-color: transparent !important;
  color: #fff !important;
}

.system .container .form-data input:focus {
  box-shadow: 0 0 0 0 transparent !important;
}
.system .container .form-data button:hover{
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.system .container .form-data p{
    text-align: center;
    font-weight: 500;
}
.system .container .form-data p a{
    text-decoration: none;
}
.system .container .form-data p a:hover{
  text-decoration: underline;
}
::placeholder {
  color: #A4ADAB !important;
  font-size: 17px !important;
}

::-ms-input-placeholder { 
  color: #A4ADAB !important;
  font-size: 17px !important;

}
.navbar{
  box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);

}
.navbar .container{
  width: 75%;
}
.navbar .navbar-nav{
  margin-left: auto;
}
.navbar .btn{
  color: #A4ADAB;
}
.navbar .btn:hover{
  color: #fff;
}